// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$upvote-color: #f47442;
$default-grey: #b9c0cc;
svg.upvoteButton{
    display: block;
    fill: $default-grey ;
    width: 20px;
    height: 20px;
    &.clicked{
        fill: $upvote-color;
    }
    &:not(.clicked){
        fill: $default-grey;
    }
}
svg.downvoteButton{
    display: block;
    fill: $default-grey ;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    &.clicked{
        fill: $upvote-color;
    }
    &:not(.clicked){
        fill: $default-grey;
    }
}

input.downvoteButton, input.upvoteButton{
    display: none;
}
